<h4> All users <h4>
<table class="table table-striped">
  <th> Id </th>
  <th> Name </th>
  <% @users.each do |user| %>
  <tr>
    <td> <%= user.id %> </td>
    <td> <%= link_to user.name, user_path(user) %> </td>
  </tr>
  <% end %>
</table>
